<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Url Shortener" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">

    <%# Can't get bulma-rails gem to work, so just use the cdn for now.... %>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
        >   
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container p-6">
    <% if notice %>
      <div class="notice notification is-info is-dark">
        <button class="delete"></button>
        <%= notice %>
      </div>
    <% end%>
    <% if alert %>
      <div class="alert notification is-danger is-dark">
        <button class="delete"></button>
        <%= alert %>
      </div>
    <% end%>

    <%= yield %>
  </body>
</html>
